body {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: min(100vw, 430px);
  height: 100dvh;
  max-height: 100dvh;
  display: grid;

  grid-template-rows: 44px 125px auto 230px 16px;

  overflow: hidden;
  background: var(--bg);
  border: 3px solid #202228;
  border-radius: 18px;
}

.topbar {
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--topbar);
  border-bottom: 2px solid #22252b;
}

.topbar strong {
  color: white;
  font-size: 12px;
}

.toggle {
  border: none;
  padding: 8px 16px;
  border-radius: 18px;
  background: #2f333a;
  color: white;
  font-weight: 800;
  font-size: 12px;
}

footer {
  color: white;
  font-size: 8px;
  text-align: center;
  line-height: 16px;
}
